html{
    background-color: rgb(131, 213, 228) ;
}

.number{
    background-color:rgb(113, 123, 202) ;
    margin-left: auto;
    margin-right: auto;
}

#v1{
    background-color: blueviolet;
}
#v2{
    background-color: rgb(157, 74, 235);
}
#v3{
    background-color: rgb(175, 101, 245);
}
#vplus{
    background-color: rgb(201, 153, 245);
}

#v4{
    background-color: blueviolet;
}
#v5{
    background-color: rgb(157, 74, 235);
}
#v6{
    background-color: rgb(175, 101, 245);
}
#vminus{
    background-color: rgb(201, 153, 245);
}

#v7{
    background-color: blueviolet
}
#v8{
    background-color: rgb(157, 74, 235);
}
#v9{
    background-color: rgb(175, 101, 245);
}
#vdivide{
    background-color: rgb(201, 153, 245);
}

#v0{
    background-color: blueviolet
}
#vequal{
    background-color: rgb(157, 74, 235);
}
#vmultiply{
    background-color: rgb(175, 101, 245);
}
#vdelete{
    background-color: rgb(201, 153, 245);
}
h2{
    font-size: 35px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  

